<h1 class="page-header">{{title}}</h1>
<div class="list-group">
  <!-- ng-repeat遍历时不允许值重复 ，原因是angular需要一个唯一值可以与生成的dom绑定，以便追踪.

然后这时候，track by的用处就体现出来了。加上track by $index（索引）相当于给重复数据加上了序号，重复的数据就相当于不重复了-->
  <a ng-repeat="movie in movies track by $index" href="#/detail/{{movie.id}}" class="list-group-item">
    <div class="media">
      <div class="media-left">
        <img class="media-object" ng-src="{{movie.images.small}}" alt="{{movie.title}}">
      </div>
      <div class="media-body">
        <span class="badge pull-right">{{movie.rating.average}}</span>
        <h3 class="media-heading">{{movie.title}}</h3>
        <!--<p>类型：<span>{{movie.genres}}</span>&nbsp;&nbsp;&nbsp;&nbsp;上映年份：<span>2017</span></p>-->
        <!--{{movie.genres}}genres是一个数组，需要变成顿号分隔的字符串，movie.genres.toString()是逗号分隔，所以哟join('、)-->
        <p>类型：<span>{{movie.genres.join('、')}}</span>&nbsp;&nbsp;&nbsp;&nbsp;上映年份：<span>{{movie.year}}</span></p>
        <!--<p>导演：<span>{{movie.directors.join('、')}}</span></p>-->
        <!--directors是一个数组，但里面成员是对象，所以要再次遍历,在后台插件angularJS可以看到$last\$first等-->
        <p>导演：<span ng-repeat="d in movie.directors">{{d.name+($last ? '' : '、')}}</span></p>
        <p>主演：<span ng-repeat="c in movie.casts">{{c.name+($last ? '' : '、')}}</span></p>
      </div>
    </div>
  </a>
</div>

<div ng-show="!loading">
  <p>总共：{{totalCount}}条记录，第{{page}}/{{totalPage}}页</p>
  <ul class="pager">
    <li ng-class="{disabled:page<=1}"><a ng-click="go(page-1)">Previous</a></li>
    <li ng-class="{disabled:page>=totalPage}"><a ng-click="go(page+1)">Next</a></li>
  </ul>
</div>

<div class="loading" ng-hide="!loading">
  <div class="spinner"></div>
</div>











<!--<div class="list-group">
  <div class="list-group">
    <a ng-repeat="movie in movies track by $index" href="#" class="list-group-item">
      <div class="media">
        <div class="media-left">
          <img class="media-object" ng-src="{{movie.images.small}}" alt="{{movie.title}}">
        </div>
        <div class="media-body">
          <span class="badge pull-right">42</span>
          <h3 class="media-heading">{{movie.title}}</h3>
          <p>类型：<span>{{movie.genres.join('、')}}</span>&nbsp;&nbsp;&nbsp;&nbsp;上映年份：<span>{{movie.year}}</span></p>
          <p>导演：<span ng-repeat="d in movie.directors">{{d.name + ($last ? '' : '、')}}</span></p>
          <p>主演：<span ng-repeat="c in movie.casts">{{c.name + ($last ? '' : '、')}}</span></p>
        </div>
      </div>
    </a>
  </div>
</div>-->
